{{ define "header" }}
  {{ partial "navbar" . }}
{{ end }}

{{ define "main" }}
  <main class="w-full max-w-screen-xl min-h-screen px-6 mx-auto">
    <h1 class="font-display text-2xl md:text-3xl text-center text-white uppercase tracking-wider mt-10 mb-20 relative after:absolute after:-bottom-1/2 after:left-1/2 after:-translate-x-1/2 after:w-14 after:h-[6px] after:rounded-full after:bg-slate-700">
      Posts
    </h1>

    <div class="flex flex-wrap justify-center">
      {{ range .Pages }}
      <div class="w-full md:w-1/3 md:px-6">
        <article class="w-full mb-6 md:mb-0 p-6 rounded-lg bg-slate-700">
          <h2 class="font-display text-xl md:text-2xl text-white uppercase tracking-wider mb-4">
            {{ .Title }}
          </h2>
          <p class="h-16 font-normal text-sm text-slate-400 tracking-wide">
            {{ .Description }}
          </p>
          <div class="flex justify-between items-center mt-8">
            <span class="font-semibold text-xs text-slate-500">
              <time-formatter date="{{ .Date }}"></time-formatter>
            </span>
            <a href="{{ .Permalink }}" class="inline-block px-2 py-1 bg-gradient font-normal text-sm">
              Read more
            </a>
          </div>
        </article>
      </div>
      {{ end }}
    </div>
  </main>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
