<footer class="p-6 md:p-8 flex flex-col items-center justify-center">
  <p class="font-normal text-sm text-white mb-4">
    Find an issue in this page?
    <a href="" class="font-semibold text-transparent bg-clip-text bg-gradient">
      Fix it on GitHub
    </a>
  </p>

  <h5 class="font-semibold text-base text-white uppercase mb-2">
    Useful Links
  </h5>

  <ul class="flex flex-row divide-x-2 mb-4">
    <a href="/posts" class="font-normal text-sm text-white px-2">Posts</a>
    <a href="/tags" class="font-normal text-sm text-white px-2">Tags</a>
    <a href="/terms" class="font-normal text-sm text-white px-2">Terms</a>
  </ul>

  <p class="font-normal text-xs text-white">&copy; 2022 Fajar Blog</p>
</footer>
