<nav class="w-full max-w-screen-xl mx-auto p-6 md:p-8 flex justify-between items-center">
  <a href="/" class="font-bold text-lg text-transparent bg-clip-text bg-gradient">
    Fajar Blog
  </a>

  <ul class="flex items-center">
    <li class="ml-6">
      <a href="/" class="font-semibold text-base tracking-wide tarnsition-all hover:text-transparent hover:bg-clip-text hover:bg-gradient">
        Home
      </a>
    </li>
    <li class="ml-6">
      <a href="/posts" class="font-semibold text-base tracking-wide tarnsition-all hover:text-transparent hover:bg-clip-text hover:bg-gradient">
        Posts
      </a>
    </li>
  </ul>
</nav>
